<!--== Slider Area Start ==-->
<section id="home-slider-area">
    {% for rs in slider %}
        <a href="{{ path('car_show', {'id': rs.id}) }}">
    <div class="home-slider-item " style="height:750px;background-image: url({{ asset('uploads/images/' ~ rs.image) }});">
        <div class="container overlay" style="position: absolute; bottom: 120px; left: 30%; width: auto; height: auto;padding: 30px">
            <div class="row" >

                    <div class="slideshowcontent " >
                        <h1>{{ rs.title }}</h1>
                        <p>{{ rs.description }} <br> {{ rs.description }}</p>
                    </div>

            </div>
        </div>
    </div>
        </a>
    {% endfor %}
</section>
<!--== Slider Area End ==-->