{% extends 'base.html.twig' %}

{% block title %}Contract index{% endblock %}

{% block body %}
    <h1>Contract index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer_id</th>
                <th>Car_id</th>
                <th>Pick_up_date</th>
                <th>Drop_off_date</th>
                <th>Pick_up_location</th>
                <th>Drop_off_location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.customerId }}</td>
                <td>{{ contract.carId }}</td>
                <td>{{ contract.pickUpDate ? contract.pickUpDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.dropOffDate ? contract.dropOffDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.pickUpLocation }}</td>
                <td>{{ contract.dropOffLocation }}</td>
                <td>
                    <a href="{{ path('admin_contract_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('admin_contract_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_contract_new') }}">Create new</a>
{% endblock %}
