{% extends 'HomeBase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}


{% block body %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center align-center">
                        <h2>{{ app.user.name }} Profile</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <section id="maincontent" class="padding30">
        <div class="container">
            <div class="row">

                {{ include('home/user/usermenu.html.twig') }}

                <div class="span8">
                    <!-- start article 1 -->
                    <article class="blog-post">
                        <div class="post-heading">
                            <h3>User Profile Information</h3>
                        </div>
                        <div class="row">


                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ app.user.email }}</td>
                                </tr>

                                <tr>
                                    <th>Name</th>
                                    <td>{{ app.user.name }}</td>
                                </tr>
                                <tr>
                                    <th>Surname</th>
                                    <td>{{ app.user.surname }}</td>
                                </tr>

                                </tbody>
                            </table>

                                <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="map-show">Edit Profile</a>

                        </div>
                    </article>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
