{% extends 'HomeBase.html.twig' %}

{% block title %}{{ car.title }}{% endblock %}
{% block keywords %}{{ car.keywords }}{% endblock %}
{% block description %}{{ car.description }}{% endblock %}

{% block body %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center align-center">
                        <h2>Car Detail</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->
    <section id="car-list-area" class="section-padding">
        <div class="container" style="max-width: 85%">
            <div class="row">
                <!-- Car List Content Start -->
                <div class="col-lg-8">
                    <div class="car-details-content">
                        <h2>{{ car.title }}<span class="price">Rent: <b>{{ car.priceForADay }} TL</b></span></h2>
                        <div class="car-preview-crousel">
                            <div class="single-car-preview">
                                <a class="car-hover" href="{{ asset('uploads/images/' ~ car.image) }}">
                                    <img src="{{ asset('uploads/images/' ~ car.image) }}"></a>
                            </div>
                            {% for img in images %}
                                <div class="single-car-preview">
                                    <a class="car-hover" href="{{ asset('uploads/images/' ~ img.image) }}">
                                        <img src="{{ asset('uploads/images/' ~ img.image) }}"></a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="car-details-info">
                            <h4>Additional Info</h4>
                            <div style="overflow-x:auto;height: 500px">
                                {{ car.detail | raw }}
                            </div>



                            <div class="review-area">
                                <h3>Be the first to review “{{ car.title }}”</h3>
                                <div class="review-star">
                                    <p class="rating">
                                        <i class="fa fa-star {% if(car.rate >= 1.0) %}{% else %}unmark{% endif %}"></i>
                                        <i class="fa fa-star {% if(car.rate >= 2.0) %}{% else %}unmark{% endif %}"></i>
                                        <i class="fa fa-star {% if(car.rate >= 3.0) %}{% else %}unmark{% endif %}"></i>
                                        <i class="fa fa-star {% if(car.rate >= 4.0) %}{% else %}unmark{% endif %}"></i>
                                        <i class="fa fa-star {% if(car.rate >= 5.0) %}{% else %}unmark{% endif %}"></i>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- Car List Content End -->
                <div class="col-lg-4">
                    <div class="sidebar-content-wrap m-t-50">
                        <div class="container">
                            <div class="row">
                                <div class="span8">
                                    <!--== Content ==-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <section class="content">
                                                <div class="container-fluid">
                                                    <div class="block-header">
                                                        <h1>Technical Info</h1>
                                                        <div class="body table-responsive">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                <tr>
                                                                    <th>Title</th>
                                                                    <td>{{ car.title }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Description</th>
                                                                    <td>{{ car.description }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Rate</th>
                                                                    <td>{{ car.rate }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Brand</th>
                                                                    <td>{{ car.brand }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Model</th>
                                                                    <td>{{ car.model }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Year</th>
                                                                    <td>{{ car.year }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Seats</th>
                                                                    <td>{{ car.seats }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Doors</th>
                                                                    <td>{{ car.doors }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Has_airconditions</th>
                                                                    <td>{{ car.hasAirconditions ? 'Yes' : 'No' }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Gearbox</th>
                                                                    <td>{{ car.gearbox }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Transmission</th>
                                                                    <td>{{ car.transmission }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fuel_type</th>
                                                                    <td>{{ car.fuelType }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Baggage_capacity</th>
                                                                    <td>{{ car.baggageCapacity }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Price_for_a_day</th>
                                                                    <td>{{ car.priceForADay }}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-submit center">
                                                    {% if(app.user) %}
                                                    <form action="/contractform/{{ car.id }}">
                                                        <button type="submit" style="width: 300px;height: 60px">BOOK NOW</button>
                                                    </form>
                                                    {% else %}
                                                    <form action="/login">
                                                        <button type="submit" style="width: 300px;height: 60px">BOOK NOW</button>
                                                    </form>
                                                    {% endif %}

                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <!--== End Content ==-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

                <div class="card" style="max-height: 1200px; min-height: 500px; overflow-y: auto">
                    <div class="card-header">
                        <h3>Comments</h3>
                    </div>
                    <div class="card-body" style="height: 233px; ">
                        <ul class="list-group">
                            {% for com in comments %}
                                <li class="list-group-item" style="margin-bottom: 6px;">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="media" style="overflow: visible">
                                                <div>
                                                    <img {% for usr in users %} {% if(usr.id == com.userid) %} src="{{ asset('uploads/images/' ~ usr.image) }}" {% endif %}{% endfor %}
                                                            class="mr-3"
                                                            style="height: 50px;width: 50px;">
                                                </div>
                                                <div class="media-body" style="overflow: visible">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>
                                                            <h2>{% for usr in users %} {% if(usr.id == com.userid) %} {{ usr.name }} commented {% endif %}{% endfor %}</h2> <hr>
                                                            <h5>Subject:</h5>
                                                            <h3><b>{{ com.subject }}</b></h3>
                                                            <hr>
                                                            <h5>Comment:</h5>
                                                            <p>{{ com.comment }}</p>
                                                            <hr>
                                                            <h4>Rate: {{ com.rate }}</h4>
                                                            <small class="text-muted">{{ com.createdAt|date('Y-m-d') }}</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            {% if app.user %}
                {{ include('messages.html.twig') }}
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header">
                        <h3>Leave a Comment</h3>
                    </div>
                    <div style="padding: 30px;">
                        <div class="comment-form">
                            <form method="post" action="{{ path('user_new_comment', {'id': car.id}) }}">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" name="comment[subject]"
                                           maxlength="100"
                                    >
                                </div>
                                <div class="form-group">
                                    <label>Rate</label>
                                    <select class="form-control" name="comment[rate]">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Leave Comment</label>
                                    <textarea class="form-control" name="comment[comment]"
                                              maxlength="255"
                                              rows="4"></textarea>
                                </div>
                                <input type="hidden" id="comment__token" name="token"
                                       value="{{ csrf_token(('comment')) }}"/>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="center">
                        <h2><a href="/login">Please Login to Send Comment</a></h2>
                    </div>

            {% endif %}
        </div>
    </section>
{% endblock %}
