{% extends 'HomeBase.html.twig' %}

{% block title %}Contact | {{ settings[0].title }}{% endblock %}
{% block keywords %}Contact | {{ settings[0].keywords }}{% endblock %}
{% block description %}Contact | {{ settings[0].description }}{% endblock %}


{% block body %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center align-center">
                        <h2>Contact</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Contact Page Area Start ==-->
    <div class="contact-page-wrao section-padding">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <aside>
                        <div class="widget">
                            <h3 class="rheading">Contact Information<span></span></h3>
                            {{ settings[0].contact |raw }}
                        </div>
                        <div class="widget">
                            <h4 class="rheading">Find us on social networks<span></span></h4>
                            <ul class="social-links">
                                <li><a href="{{ settings[0].twitter }}" title="Twitter"><i class="icon-square icon-32 icon-twitter"></i></a></li>
                                <li><a href="{{ settings[0].facebook }}" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a></li>

                            </ul>
                        </div>
                    </aside>

                </div>
                <div class="span10">
                <div class="col-lg-10 m-auto">
                    <div class="contact-form">
                        <form action="/">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="name-input">
                                        <input type="text" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="email-input">
                                        <input type="email" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="website-input">
                                        <input type="url" placeholder="Website">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="subject-input">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                </div>
                            </div>

                            <div class="message-input">
                                <textarea name="review" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>

                            <div class="input-submit">
                                <button type="submit">Submit Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Contact Page Area End ==-->

    <!--== Map Area Start ==-->
    <div class="maparea">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.2550114756!2d32.64944681495948!3d41.21621291455287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408354ac4492953f%3A0xab3b48ed0392a743!2sKarab%C3%BCk+%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1471528432043"></iframe>
    </div>
    <!--== Map Area End ==-->



{% endblock %}
